<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.languageresources.mymr">
  <!-- API level 16 required for QUERY_KEYBOARD_LAYOUTS. -->
  <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24"/>
  <application android:label="@string/ime_name">
    <receiver android:name=".InputDeviceReceiver"
              android:label="@string/keyboard_layouts_label">
      <intent-filter>
        <action android:name="android.hardware.input.action.QUERY_KEYBOARD_LAYOUTS"/>
      </intent-filter>
      <meta-data android:name="android.hardware.input.metadata.KEYBOARD_LAYOUTS"
                 android:resource="@xml/keyboard_layouts"/>
    </receiver>
  </application>
</manifest>
